[user]
	name = Laura Langdon
	email = 48335772+LauraLangdon@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBaE/3cl2TMXeF/n4BBMlcuNQ1URQ34nRxKl+/FQ3j9p
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[commit]
	gpgsign = true
	verbose = true
[alias]
	logs = log --show-signature
	cis = commit -S
[gpg]
	format = ssh
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /workspace
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	followTags = true
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
